SampleProject_1/SampleProject_1/Service References/EmployeeReference/EmployeeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65454/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyWCFService" />
  <xs:import schemaLocation="http://localhost:65454/EmployeeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MyWCFService.Models" />
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyWCFService" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q1:ArrayOfEmployeeTBL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyWCFService.Models" minOccurs="0" name="data" nillable="true" type="q2:LoginData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyWCFService" minOccurs="0" name="LoginDetailsResult" nillable="true" type="q3:UsersTBL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>