SampleProject_1/SampleProject_1/Service References/EmployeeReference/EmployeeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployeeTBL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeTBL" nillable="true" type="tns:EmployeeTBL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeTBL" nillable="true" type="tns:ArrayOfEmployeeTBL" />
  <xs:complexType name="EmployeeTBL">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeTBL" nillable="true" type="tns:EmployeeTBL" />
  <xs:complexType name="UsersTBL">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersTBL" nillable="true" type="tns:UsersTBL" />
</xs:schema>